
:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --main-text-color: #353430;
  --main-bg-color: #353430;
  --nav-color: #353430;
  --title-decor: #353430;
  --hf-title: #FFC2E6;
  --nav-hover-color: #32312D66;
  --main-heading-color: #353430;
  --section-heading-color: #FF8DCB;
}

.theme-light .header-rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --main-text-color: #353430;
    --main-bg-color: #353430;
    --nav-color: #353430;
    --title-decor: #353430;
    --hf-title: #FFC2E6;
    --nav-hover-color: #32312D66;
    --main-heading-color: #353430;
    --section-heading-color: #FF8DCB;
  }

  .header-rec {
    display: none;
  }
}

